<p>
	Search by name: <input ng-model="$ctrl.userInputName" />
</p>

<p>
	Search by position: <input ng-model="$ctrl.userInputPosition" />
</p>

<p>
	Sort by:
	<select ng-model="$ctrl.orderProp">
		<option value="name">Alphabetical</option>
		<option value="seniority">Seniority</option>
	</select>
</p>

<ul class="names">
	<li ng-repeat="person in $ctrl.names | filter: {name: $ctrl.userInputName} | filter: {position: $ctrl.userInputPosition} | orderBy: $ctrl.orderProp" class="thumbnail">
		<a href="#/people/{{ person.name }}">{{person.name}}</a> - {{ person.position }} <br />
	</li>
</ul>