<head>
	<link rel="../styles.css" href="../styles.css" />
</head>

<p>
	Search by name: <input ng-model="$ctrl.userInputName" />
</p>

<p>
	Search by position: <input ng-model="$ctrl.userInputPosition" />
</p>

<p>
	Show only:<br />
	<p>
		<input type="radio" ng-model="$ctrl.genderSelect" value="male">Males<br />
		<input type="radio" ng-model="$ctrl.genderSelect" value="female">Females<br />
		<input type="radio" ng-model="$ctrl.genderSelect" value="either">Either<br /><br />
	</p>
	<p id="radio1">
		<input type="radio" ng-model="$ctrl.cubicleSelect" value="true">Has a Cubicle<br />
		<input type="radio" ng-model="$ctrl.cubicleSelect" value="false">Does not have a Cubicle<br />
		<input type="radio" ng-model="$ctrl.cubicleSelect" value="either">Either<br /><br />
	</p>
	<p id="radio2">
		<input type="radio" ng-model="$ctrl.groupSelect" value="left">Left cubicles<br />
		<input type="radio" ng-model="$ctrl.groupSelect" value="center">Center cubicles<br />
		<input type="radio" ng-model="$ctrl.groupSelect" value="right">Right cubicles<br />
		<input type="radio" ng-model="$ctrl.groupSelect" value="any">Any cubicles<br /><br />
	</p>
</p>

<p>
	Sort by:
	<select ng-model="$ctrl.orderProp">
		<option value="name">Alphabetical</option>
		<option value="seniority">Seniority</option>
		<option value="-numberScreens">Number of Screens</option>
	</select>
</p>

<ul class="names">
	<li ng-init="$ctrl.cubicleSelect='either'; $ctrl.genderSelect='either'; $ctrl.groupSelect='any'"
		ng-show="(($ctrl.genderSelect === person.gender)
		|| ($ctrl.genderSelect === 'either')) &&
		(($ctrl.cubicleSelect === 'true' && person.hasCubicle === true)
		|| ($ctrl.cubicleSelect === 'false' && person.hasCubicle === false)
		|| ($ctrl.cubicleSelect === 'either')) &&
		(($ctrl.groupSelect === person.cubeBlock)
		|| ($ctrl.groupSelect === 'any'))"
		ng-repeat="person in $ctrl.names | filter: {name: $ctrl.userInputName} | filter: {position: $ctrl.userInputPosition} | orderBy: $ctrl.orderProp" class="thumbnail">
		<a href="#!/people/{{person.name}}">{{person.name}}</a> - {{ person.position }} <br />
	</li>
</ul>
